<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

    <!--&lt;!&ndash;有参注入属性&ndash;&gt;-->
    <!--<bean id="student" class="com.kotlin.Bean.Student">-->
    <!--<constructor-arg name="name" value="张三"/>-->
    <!--</bean>-->

    <!--set方法注入属性-->
    <!--<bean id="student" class="com.kotlin.Bean.Student">-->
        <!--<property name="age" value="12"/>-->
    <!--</bean>-->

    <!--注入对象类型的属性-->
    <!--<bean id="studentDao" claStudentDaotDao"/>-->

    <!--<bean id="studentService" claStudentServicevice">-->
        <!--<property name="dao" ref="studentDao"/>-->
    <!--</bean>-->

    <!--p名称空间注入-->
    <!--<bean id="student" claStudentdent" p:age="26"/>-->

    <!--注入复杂类型属性-->
    <!--<bean id="student" class="com.kotlin.Bean.Student">-->
        <!--&lt;!&ndash;array&ndash;&gt;-->
        <!--<property name="array">-->
            <!--<array>-->
                <!--<value>张龙</value>-->
                <!--<value>赵虎</value>-->
                <!--<value>王朝</value>-->
                <!--<value>马汉</value>-->
            <!--</array>-->
        <!--</property>-->
        <!--&lt;!&ndash;list&ndash;&gt;-->
        <!--<property name="list">-->
            <!--<list>-->
                <!--<value>张三</value>-->
                <!--<value>李四</value>-->
                <!--<value>王二麻子</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--&lt;!&ndash;map&ndash;&gt;-->
        <!--<property name="map">-->
            <!--<map>-->
                <!--<entry key="1" value="a"/>-->
                <!--<entry key="2" value="b"/>-->
                <!--<entry key="3" value="c"/>-->
            <!--</map>-->
        <!--</property>-->
        <!--&lt;!&ndash;properties&ndash;&gt;-->
        <!--<property name="pro">-->
            <!--<props>-->
                <!--<prop key="driverclass">com.mysql.jdbc.Driver</prop>-->
                <!--<prop key="username">root</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <!--注解扫描-->
    <!--1.到包中扫描类，方法，属性上面的注解-->
    <context:component-scan base-package="com.kotlin"></context:component-scan>

    <!--2.只扫描属性上面的注解-->
    <!--<context:annotation-config ></context:annotation-config>-->
</beans>